@import "clash-grotesk.css";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 156 34% 96%;
    --foreground: 152 32% 10%;

    --card: 156 32% 100%;
    --card-foreground: 152 32% 10%;

    --popover: 156 32% 100%;
    --popover-foreground: 152 32% 10%;

    --primary: 82 69% 23%;
    --primary-foreground: 156 34% 96%;

    --secondary: 161 55% 46%;
    --secondary-foreground: 154 30% 10%;

    --muted: 156 22% 84%;
    --muted-foreground: 156 14% 44%;

    --accent: 156 22% 84%;
    --accent-foreground: 152 32% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 156 20% 82%;
    --input: 156 20% 82%;
    --ring: 145 72% 40%;

    --radius: 0.5rem;
  }
}

/* global elements */
@layer base {
  html[data-scroll-orientation="horizontal"] {
    body {
      @apply w-fit;
    }
    [data-scroll-container] {
      @apply flex;
    }
  }
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground m-0 p-0;
  }
  section {
    scroll-margin-top: 0;
  }
  section#home {
    scroll-margin-top: 0;
  }
}

/* custom scrollbar */
@layer base {
  ::-webkit-scrollbar {
    @apply h-2.5 w-2 transition;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-muted;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-primary;
  }
}

/* custom styles */
@layer base {
  .clash-grotesk {
    font-family: "ClashGrotesk-Variable", sans-serif;
  }
  .audiowide {
    font-family: "Audiowide", sans-serif;
  }
  .text-gradient {
    @apply bg-gradient-to-br from-primary to-secondary bg-clip-text text-transparent;
  }
  .nav-active {
    @apply text-sm tracking-tight text-white;
  }
  .nav-link {
    @apply text-sm tracking-tight text-white/80 hover:text-white transition;
  }

  /* blinking animation */
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 1s infinite;
  }
}